<body>
    <h3 id="task-time" (click)="editTaskTime()">{{task.time}}</h3>

    <div id="task-title" (click)="editTaskTitle()">{{task.title.toUpperCase()}}</div>


    <div id="container10">
        <div id="container11">
            <div id="task-status">
                <div *ngIf="task.done === true; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <div class="completed-task">   DONE   </div>
                    </ng-template>
                    <ng-template #elseBlock>
                        <div class="incomplete-task">NOT DONE</div>
                    </ng-template>
            </div>
        </div>

        <div id="container12">
            <div id="move-task-up" (click)="moveTaskUp()">Up</div>
            <div id="move-task-down" (click)="moveTaskDown()">Down</div>
        </div>

        <div id="container13" style="margin-right: 20px;">
            <div id="remove-task" (click)="removeTask()">Remove this task</div>  

            <div *ngIf="task.done === true; then thenBlock2 else elseBlock2"></div>
            <ng-template #thenBlock2>
                <div id="toggle-done" (click)="toggleDoneFire()">Mark as undone</div>
            </ng-template>
            <ng-template #elseBlock2>
                <div id="toggle-done" (click)="toggleDoneFire()">Mark as done</div>
            </ng-template>
        </div>
    </div>
</body>