@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 600px) {
    #task-title {
        border-radius: 15px;
        font-size: medium;
    }
    #task-status {
        padding: 5px;
        font-size: small;
        width: 60px;
    }
    #toggle-done, #remove-task, #move-task-up, #move-task-down {
        width: 50px;
        height: 30px;
        font-size: 10px;
    }
}

@media (min-width: 600px) {
    #task-title {
        border-radius: 25px;
        font-size: larger;
    }
    #task-status {
        padding: 20px;
        font-size: medium;
        width: 100px;
    }
    #toggle-done, #remove-task, #move-task-up, #move-task-down {
        width: 75px;
        height: 50px;
        font-size: large;
    }
}

body {
    background-color: brown;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.2)
}

#task-time {
    color: antiquewhite;
    font-size: 2em;
    margin: 10px;
}

#task-title {
    display: block;
    font-weight: bold;
    background-color: antiquewhite;
    color: rgb(75, 16, 16);
    width: 60vw;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 5px;
}

#task-title:hover {
    cursor: pointer;
    background-color: darkgray;
}

#task-title:active {
    background-color: rgb(146, 143, 143);
}

#task-status {
    font-weight: bolder;
    color: antiquewhite;
    text-align: center;
    border-radius: 8px;
    position: relative;
}

#task-status > .completed-task {
    background-color: green;
}

#task-status > .incomplete-task {
    background-color: red;
}

.completed-task, .incomplete-task {
    border-radius: 5px;
}

#toggle-done {
    background-color: yellow;
}

#toggle-done:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 12);
}

#toggle-done:active {
    background-color: rgb(187, 187, 9);
}

#remove-task {
    background-color: blueviolet;
}

#remove-task:hover {
    background-color: rgb(107, 24, 184);
    cursor: pointer;
}

#remove-task:active {
    background-color: rgb(95, 19, 167);
}

#move-task-up, #move-task-down {
    background-color: darkgray;
}

#move-task-up, #move-task-down {
    color: rgb(75, 16, 16);
}

#move-task-up:hover, #move-task-down:hover {
    background-color: rgb(146, 142, 142);
    cursor: pointer;
}

#move-task-up:active, #move-task-down:active {
    background-color: rgb(126, 122, 122);
}

#container10 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#toggle-done, #remove-task, #move-task-up, #move-task-down {
    display: inline-block;
    border-radius: 8px;
    position: relative;
    color: black;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}

#task-time:hover {
    cursor: pointer;
    color: rgb(218, 201, 179);
}

#task-time:active {
    color: rgb(196, 177, 154);
}