#go-to-top {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: brown;
    color: antiquewhite;
    font-family: Montserrat, sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    border-color: antiquewhite;
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    border-style: solid;
  }
  
  #go-to-top:active {
    background-color: #300844;
  }
  
  #go-to-top img {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }