* {
    font-family: 'Consolas', sans-serif;
}

#Title, 
#add-task h3,
#year {
    cursor: default;
}

input[type="text"],
#add-task-button {
    background-color: antiquewhite;
}

input[type="text"] {
    padding: 1vh;
    border: 3px rgba(165, 42, 42, 1) solid;
    width: 30vw;
    text-align: center;
    color: brown;
}

input[type="text"]:focus {
    font-size: 1.25rem;
    font-weight: bold;
    
}

input[type="text"]::placeholder {      
    /* Firefox, Chrome, Opera */
    text-align: center;
    font-size: medium;
    color: rgba(165, 42, 42, 0.548);
    font-style: italic;
    font-weight: 600;
    
}

input[type="text"]:focus::placeholder {
    color: antiquewhite;
}

h3 {
    color: antiquewhite;
    font-weight: normal;
}

#add-task {
    text-align: center;
}

#add-task-button {
    width: max-content;
    height: 50px;
    border-color: brown;
    color: brown;
    font-weight: bold;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

#add-task-button:hover {
    background-color: rgb(206, 200, 200);
}

#add-task-button:active {
    background-color: rgb(161, 157, 157);
}

#add-task input, #add-task button {
    margin: 10px;
}

#Title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Title {
    color: antiquewhite;
    text-shadow: 
        0 0 10px rgba(165, 42, 42, 1), 
        0 0 10px rgba(165, 42, 42, 1), 
        0 0 10px rgba(165, 42, 42, 1), 
        0 0 10px rgba(165, 42, 42, 1);
    font-size: 2.75rem;
}

#Title h2 {
    padding: 10px;
    text-align: center;
}

#task-list {
    list-style-type: none;
    margin-bottom: 0px;
}

.task-container {
    margin-bottom: 3vh !important;
}

/* Footer always at the bottom */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 5vh auto;
}
/* --------------------------- */

footer {
    height: max-content;
    font-weight: normal;
    color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
}

footer a {
    text-decoration: none;
    color: antiquewhite;
}

.pala-logo-min {
    width: 50px;
}

#empty-list-text {
    font-family: 'Consolas', sans-serif;
    text-align: center;
    margin: 50px;
    font-weight: bold;
    color: darkgrey;
}

@media (max-width: 600px) {
    #task-list {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
}

@media (min-width: 600px) {
    #task-list {
        padding-inline-start: 50px;
        padding-inline-end: 50px;
    }
}