<body>
  <div id="Title"><h2>TO-DO LIST</h2></div>

  <div id="add-task">
    <h3>Add a task!</h3>
    <input #taskTime type="text" placeholder="18:30"><br> 
    <input #taskTitle type="text" placeholder="Go to the gym"><br>
    <button id="add-task-button" (click)="addTask(taskTitle, taskTime)">Add task</button>
  </div>

  <ul id="task-list">
    <li *ngFor="let task of tasks">
      <app-task 
      [task]="task" 
      (taskRemover)=removeTask($event)
      (taskMarker)=markTask($event)
      (taskUpMover)=moveTaskUp($event)
      (taskDownMover)=moveTaskDown($event)
      (taskNameChanger)=changeTaskTitle($event)
      (taskTimeChanger)=changeTaskTime($event)
      >
      </app-task>
    </li>
  </ul>

  <div id="empty-list-text"></div>

  <footer>
    Made by <a href="https://www.npalavecino.com.ar/">Nestor Fabian Palavecino Arnold.</a> 2022.
  </footer>
</body>